.loginstudent-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #adadad;
}
.loginstudent-text {
  font-size: 64px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
}
.loginstudent-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  justify-content: center;
}
.loginstudent-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginstudent-textinput {
  color: var(--dl-color-gray-black);
  border-width: 3px;
  background-color: var(--dl-color-gray-900);
}
.loginstudent-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginstudent-textinput1 {
  color: var(--dl-color-gray-black);
  border-width: 3px;
  background-color: var(--dl-color-gray-900);
}
.loginstudent-button {
  width: 323px;
  height: 85px;
  font-size: 25px;
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  text-align: center;
  border-width: 5px;
  text-transform: uppercase;
  background-color: var(--dl-color-gray-700);
}
@media(max-width: 991px) {
  .loginstudent-text {
    text-align: center;
  }
  .loginstudent-text1 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .loginstudent-text {
    text-align: center;
  }
  .loginstudent-text1 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .loginstudent-text {
    text-align: center;
  }
  .loginstudent-text1 {
    text-align: center;
  }
}
