.homeowner-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #adadad;
}
.homeowner-text {
  font-size: 64px;
  align-self: center;
  margin-top: var(--dl-space-space-fourunits);
  text-align: center;
}
.homeowner-button {
  width: 323px;
  height: 85px;
  font-size: 25px;
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  text-align: center;
  border-width: 5px;
  text-transform: uppercase;
  background-color: var(--dl-color-gray-700);
}
.homeowner-button1 {
  width: 323px;
  height: 85px;
  font-size: 25px;
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  text-align: center;
  border-width: 5px;
  text-transform: uppercase;
  background-color: var(--dl-color-gray-700);
}
@media(max-width: 991px) {
  .homeowner-text {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .homeowner-text {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .homeowner-text {
    text-align: center;
  }
}
